:root {
    --fontTexto:  'Raleway', sans-serif;
    --fontHeading: 'Staatliches', cursive;

    /** Colores **/
    --azul : #a8dadc;
    --rojo : #e63946;
    --naranja : #457b9d;
    --blanco: #f1faee;
    --negro : #1d3557;
}

h1 {
    margin-top: 0.1rem;
}

/* Cards Capitulos */
.divBody {
    background-color: var(--azul);
    font-size: 1.6rem;
    font-family: var(--fontTexto);
    margin-top: 0;
};

.cardHtml {
    width: 75rem;
    float: none;
    margin: 0 auto;
    padding: 0;
}

.cardHtmlInside {
    width: 65rem;
    float: none;
    margin: 0 auto;
    margin-top: 0;
    padding: 0;
}

/* Card Technologias */
.cardHtml2 {
    width: 55rem;
    float: none;
    margin: 0 auto;
    padding: 0;
}
.cardHtmlInside2 {
    width: 15rem;
    height: 15rem;
    float: none;
    margin: 5px auto;
    padding: 10px;
}

/* Botones Prev y Next */
.buttonCapitulos {
    margin: 10px;
    margin-top: 25px;
    background-color: var(--naranja);
}

.buttonPrev {
    width: 100px;
    height: 900px;
    margin: 0 auto;
    float: left;
    background-color: var(--naranja);
}

.buttonNext {
    width: 100px;
    height: 900px;
    margin: 0 auto;
    float: right;
    background-color: var(--naranja);
}

.tabs {
    background-color: var(--blanco);
    min-height: 75px;
}