/* Cards Capitulos */
.cardHtml {
    width: 75rem;
    float: none;
    margin: 0 auto;
    padding: 0;
}

.cardHtmlInside {
    width: 65rem;
    float: none;
    margin: 0 auto;
    margin-top: 0;
    padding: 0;
}

/* Card Technologias */
.cardHtml2 {
    width: 55rem;
    height: 355rem;
    float: none;
    margin: 0 auto;
    padding: 0;
}
.cardHtmlInside2 {
    width: 15rem;
    height: 15rem;
    float: none;
    margin: 5px auto;
    padding: 10px;
}

/* Botones Prev y Next */
.buttonCapitulos {
    margin: 10px;
    margin-top: 25px;
}

.buttonPrev {
    width: 100px;
    height: 900px;
    margin: 0 auto;
    float: left;
}

.buttonNext {
    width: 100px;
    height: 900px;
    margin: 0 auto;
    float: right;
}

.btnPrevTop {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    float: left;
}

.btnNextTop {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    float: right;
}
