:root {
    --fontTexto:  'Raleway', sans-serif;
    --fontHeading: 'Staatliches', cursive;

    /** Colores **/
    --azul : #2EC4B6;
    --rojo : #d93337;
    --naranja : #FFE66D;
    --blanco: #F7FFF7;
    --negro : #011627;

    /** gris **/
    --gris: #969696;
    --grisOscuro : #707070;
    --grisClaro: rgb(243, 243, 243);
};

/* ELEMENTS */
div {
    background-color: var(--rojo);
    font-size: 1.6rem;
    font-family: var(--fontTexto);
};

h1 {
    font-family: var(--fontTexto);
    margin-top: 0;
};


